:root {
  --body-font-family: "DroidArabicKufiRegular", "Open Sans", Arial, sans-serif;
  --heading-font-family: "DroidArabicKufiRegular", "Open Sans", Arial,
    sans-serif;
}

$material-light: (
  background: #f5f5f5
);

$material-dark: (
  background: #121212
);

$container-max-widths: (
  md: 1000px,
  lg: 1324px,
  xl: 1324px
);
